asn1crypto==0.24.0
backports.functools-lru-cache==1.4
beautifulsoup4==4.6.0
certifi==2018.1.18
cffi==1.13.2
chardet==3.0.4
cryptography==2.1.4
cycler==0.10.0
decorator==4.1.2
enum34==1.1.6
epub==0.5.2
html2text==2019.9.26
html5lib==0.999999999
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
lxml==4.2.1
matplotlib==2.1.1
numpy==1.13.3
olefile==0.45.1
pexpect==4.2.1
Pillow==5.1.0
pkg-resources==0.0.0
ptyprocess==0.6.0
pyasn1==0.4.2
pycparser==2.19
pyinotify==0.9.6
pyparsing==2.2.0
PySocks==1.6.5
python-dateutil==2.6.1
pytz==2018.3
pyxdg==0.25
scipy==0.19.1
scour==0.36
SecretStorage==2.3.1
six==1.11.0
webencodings==0.5
